/*NOT USED PAGE*/
.container {
  max-width: 500px;
  margin: 2rem auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(37, 99, 235, 0.1);
}

h1 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.3rem;
  color: #1e40af;
  font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="url"],
textarea,
input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

textarea {
  resize: none;
}

.submitBtn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #1e40af;
}
